:root {
    --bg-color: #0B101B;
    --metricks-bg-color: #121B2B;
    --main-stub-bg-color: #101C32;
    --light-blue: #638BFF;
    --metricks-border-color: #253249;

    --secondary-text-color: #91A0B8;
    --chart-line-color: #68CBBD;
    --chart-grid-color: #253249;
    --progress-bar-bg-color: #233149;

    --form-field-bg-color: #121C2C;
    --submit-btn-bg: #133491;
    --submit-btn-hover-bg: #153aa0;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    min-height: 100svh;
    scroll-behavior: smooth;
}