.submitButton {
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 12px 16px;
  font-size: 1rem;
  text-align: left;
  font-weight: 600;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  transition: background-color 0.2s ease, opacity 0.2s ease;
  font-family: inherit;
  display: flex;
  align-items: left;
  justify-content: left;
}


.blueBtn {
  background-color: var(--submit-btn-bg);
}

.blueBtn:hover {
  background-color: var(--submit-btn-hover-bg);
}


.redBtn {
  background-color: var(--cancel-btn-bg)
}

.redBtn:hover {
  background-color: var(--cancel-btn-hover-bg);
}



.blueBtn:hover:not(:disabled) {
  background-color: var(--submit-btn-hover-bg);
}

.blueBtn:active:not(:disabled) {
  background-color: var(--submit-btn-hover-bg);
}


.submitButton:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

